<h3>Наші контакти:</h3>
<div>
	<p>
		@CompanyInfo.PostIndex @CompanyInfo.City
		@CompanyInfo.Address
		@CompanyInfo.Country
	</p>
</div>
<div>
	<p>
		Номер телефона: @CompanyInfo.Phone
	</p>
</div>
<div>
	Електронна пошта: @CompanyInfo.Email
</div>